<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="base :: head">
</head>
<body>
<nav th:replace="base :: navBar"></nav>
<h2 align="center">Details</h2>

<div class="card text-white bg-primary" style="width: 18rem;">
    <div class="card-header" th:text="${flight.airline}">
    </div>
    <ul class="list-group list-group-flush list-group-item-primary">
        <li class="list-group-item" th:text="${#dates.format(flight.date, 'MMM-dd-yyyy')}"></li>
        <li class="list-group-item" th:text="${#numbers.formatDecimal(flight.price, 0, 'COMMA', 2, 'POINT')}"></li>
    </ul>
    <br>
</div>

<footer th:replace="base :: footer"></footer>
<div th:replace="base :: bootstrapScripts"></div>
</body>
</html>