<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="base :: head">
</head>
<body>
<nav th:replace="base :: navBar"></nav>
<h1 align="center">Flight List</h1>

<table class="table table-sm">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th>Date</th>
        <th>Beginning Airport</th>
        <th>Ending Airport</th>
        <th>Airline</th>
        <th>Price</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="flight,iter : ${flights}">
        <td th:text="${iter.index+1}"></td>
        <td th:text="${#dates.format(flight.date, 'MMM-dd-yyyy')}"></td>
        <td th:text="${flight.beginAirport}"></td>
        <td th:text="${flight.endAirport}"></td>
        <td th:text="${flight.airline}"></td>
        <td>$<span th:text="${#numbers.formatDecimal(flight.price, 0, 'COMMA', 2, 'POINT')}"></span></td>
        <td>
            <a class="btn btn-success" role="button" th:href="@{/update/{id}(id=${flight.id})}">Update</a>
            <a class="btn btn-warning" role="button" th:href="@{/detail/{id}(id=${flight.id})}">Detail</a>
            <a class="btn btn-danger" role="button" th:href="@{/delete/{id}(id=${flight.id})}">Delete</a>
        </td>
    </tr>
    </tbody>
</table>

<footer th:replace="base :: footer"></footer>
<div th:replace="base :: bootstrapScripts"></div>
</body>
</html>